.ProjectCard {
  box-sizing: content-box;
  max-width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1rem;

  .carousel {
    margin: 0;
    box-sizing: content-box;

    width: 100%;
    position: relative;

    // border-radius: 15px;
    // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      box-sizing: content-box;

      width: 100%;
    }
    .slider {
      box-sizing: content-box;

      width: 100%;
    }

    .screenshot {
        
      max-width: 380px;
    //   border-radius: 15px;
    }
  }
}

.project-info {
  margin: 0;
  width: 100%;
  h2 {
    margin: 0;
    margin-bottom: 1.66rem;
    font-weight: 500;
    font-size: 1.11rem;
  }

  p {
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.38;

    margin-bottom: 1.6rem;
  }
}

.project-screenshot-container {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonBack {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.buttonNext {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}

// card buttons below

.project-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.2em;

  form {
    margin-right: 1em;
  }

  .goToGitHub-btn {
    background-color: #1197cc;
    border: none;
    color: white;
    font-size: large;
    font-weight: bold;
  }

  .goToLive-btn {
    background-color: #f33b3d;
    border: none;
    color: white;
    font-size: large;
    font-weight: bold;
  }
}

.goToGitHub {
  background-color: #1197cc;
  box-shadow: 4px 4px 0px #094c66;
  border-radius: 8px;
  padding: 0.5em;
  transition: transform 200ms, box-shadow 200ms;

  &:hover {
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px 0px #094c66;
  }
}
.goToLive {
  color: white;
  font-weight: bold;
  background-color: #f33b3d;
  box-shadow: 4px 4px 0px #6b1b1c;
  border-radius: 8px;
  padding: 0.5em;
  transition: transform 200ms, box-shadow 200ms;

  &:hover {
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px 0px #094c66;
  }
}

.goToLive__hidden {
  visibility: hidden;
  padding: 0.5em;
}
