.projectCards {
  background-color: red;
  box-sizing: content-box;
  width: 100%;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
