.projects-container {
  background-color: red;
  // box-sizing: content-box;
  width: 100%;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  right: 0;
  top: 2em;
  width: calc(100vw - 310px);

  // align-items: center;
  justify-content: center;
}
