.navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
  // height: 100vh;
  justify-content: center;
  top: 38%;
  left: 0.5em;
  padding: 0 1em;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.share-icons {
  position: relative;
  display: flex;
  flex-direction: column;
  // box-shadow: inset 0 -6px 10px -8px rgba(0, 0, 0, 0.3),
  //   inset 0 6px 10px -8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 50px;

  &__block {
    // display: flex;
    // flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    transition: transform 0.3s, filter 0.2s;
    transition-timing-function: ease-in-out;

    &-top,
    &-bottom {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: #1197cc;

      // border: 1px solid #6b1b1c;

      transition: 0.4s;
      border-radius: 50px;
    }

    &-top {
      // cut panels here
      clip-path: inset(50% 0 0 0);
    }

    &-bottom {
      // cut panels here
      clip-path: inset(0 0 50% 0);
    }
  }

  &__item {
    padding: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    color: black;

    &:hover {
      background: #8fbbcc;
    }

    &:active,
    &:visited,
    &:focus {
      text-decoration: none;
    }
  }

  &:hover {
    .share-icons__block {
      z-index: -1;

      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));

      &-top {
        transform: translateY(51%) scale(1.2);
      }

      &-bottom {
        transform: translateY(-51%) scale(1.2);
      }
    }
  }
}

.fa-bars {
  color: white;
}

.navigation-visible {
  visibility: visible !important;
  opacity: 1 !important;
  // transform: translateY(0);
}

.fa-home::after {
  content: "Home";
  position: absolute;
  display: inline-block;
  margin-left: 1em;
  opacity: 0;
  transition: opacity 0.5s;
}

.fa-home-list:hover {
  .fa-home::after {
    opacity: 1;
  }
}
.fa-user-circle::after {
  content: "About";
  position: absolute;
  display: inline-block;
  margin-left: 1em;
  opacity: 0;
  transition: opacity 0.5s;
}

.fa-user-circle-list:hover {
  .fa-user-circle::after {
    opacity: 1;
  }
}

.fa-wrench::after {
  content: "Stack";
  position: absolute;
  display: inline-block;
  margin-left: 1em;
  opacity: 0;
  transition: opacity 0.5s;
}

.fa-wrench-list:hover {
  .fa-wrench::after {
    opacity: 1;
  }
}
.fa-folder::after {
  content: "Projects";
  position: absolute;
  display: inline-block;
  margin-left: 1em;
  opacity: 0;
  transition: opacity 0.5s;
}

.fa-folder-list:hover {
  .fa-folder::after {
    opacity: 1;
  }
}
.fa-envelope::after {
  content: "Contact";
  position: absolute;
  display: inline-block;
  margin-left: 1em;
  opacity: 0;
  transition: opacity 0.5s;
}

.fa-envelope-list:hover {
  .fa-envelope::after {
    opacity: 1;
  }
}
