// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

$breakpoint-mobile: 479px;

@media (max-width: $breakpoint-mobile) {
    body {
        font-size: 16px;
        color: #404040;
        font-family: Montserrat, sans-serif;
        // background-image: linear-gradient(
        //   to bottom right,
        //   #7ab5cc 0% 65%,
        //   #52a9cc 95% 100%
        // );
        background-color: #7ab5cc;
        background-position: center;
        background-attachment: fixed;
        margin: 0 1rem;
        padding: 1rem 0;
        display: grid;
        place-items: center;
        box-sizing: border-box;
      }
      .card {
        background-color: #fff;
        max-width: 478px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 2rem;
        box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5);
        .banner {
          background-image: url("../../assets/background_img.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 11rem;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          box-sizing: border-box;
          img {
            background-color: #fff;
            width: 8rem;
            height: 8rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            transform: translateY(50%);
            transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
          }
        }
        .menu {
          width: 100%;
          height: 5.5rem;
          padding: 1rem;
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;
          position: relative;
          box-sizing: border-box;
        //   .opener {
        //     width: 2.5rem;
        //     height: 2.5rem;
        //     position: relative;
        //     border-radius: 50%;
        //     transition: background-color 100ms ease-in-out;
        //     &:hover {
        //       background-color: #f2f2f2;
        //     }
        //     span {
        //       background-color: #404040;
        //       width: 0.4rem;
        //       height: 0.4rem;
        //       position: absolute;
        //       top: 0;
        //       left: calc(50% - 0.2rem);
        //       border-radius: 50%;
        //       &:nth-child(1) {
        //         top: 0.45rem;
        //       }
        //       &:nth-child(2) {
        //         top: 1.05rem;
        //       }
        //       &:nth-child(3) {
        //         top: 1.65rem;
        //       }
        //     }
        //   }
        }
        h2 {
          &.name {
            text-align: center;
            padding: 0 2rem 0.5rem;
            margin: 0;
          }
        }
        .title {
          color: #a0a0a0;
          font-size: 0.85rem;
          text-align: center;
          padding: 0.2rem 0 0.5rem 0;
        }
        .actions {
          padding: 0 2rem 1.2rem;
          display: flex;
          flex-direction: column;
          order: 99;
          .follow-info {
            padding: 0 0 1rem;
            display: flex;
            h2 {
              text-align: center;
              width: 50%;
              margin: 0;
              box-sizing: border-box;
              a {
                text-decoration: none;
                padding: 0.8rem;
                display: flex;
                flex-direction: column;
                border-radius: 0.8rem;
                transition: background-color 100ms ease-in-out;
                span {
                  color: #1c9eff;
                  font-weight: bold;
                  transform-origin: bottom;
                  transform: scaleY(1.3);
                  transition: color 100ms ease-in-out;
                }
                small {
                  color: #afafaf;
                  font-size: 0.85rem;
                  font-weight: normal;
                }
                &:hover {
                  background-color: #f2f2f2;
                  span {
                    color: #007ad6;
                  }
                }
              }
            }
          }
          .follow-btn {
            button {
              color: inherit;
              font: inherit;
              font-weight: bold;
              background-color: #ffd01a;
              width: 100%;
              border: none;
              padding: 1rem;
              outline: none;
              box-sizing: border-box;
              border-radius: 1.5rem/50%;
              transition: background-color 100ms ease-in-out,
                transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
              &:hover {
                background-color: #efb10a;
                transform: scale(1.1);
              }
              &:active {
                background-color: #e8a200;
                transform: scale(1);
              }
            }
          }
        }
        .desc {
          text-align: justify;
          padding: 0 2rem 2.5rem;
          order: 100;
        }
      }
}


