.technologies {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px 50px 20px;
  margin: 1em;
}

.techstack-headline {
  margin-bottom: 1em;
}

.tech-container {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-gap: 4rem;

  div {
    display: grid;
    place-self: center;

    p {
      justify-self: center;
    }
  }
}

$breakpoint-tablet-stack: 850px;

@media (max-width: $breakpoint-tablet-stack) {
  .technologies {
    margin: 5em;
  }
}
@media (max-width: 711px) {
  .technologies {
    margin: 2em;
  }
}

$breakpoint-mobile-stack: 450px;

@media (max-width: $breakpoint-mobile-stack) {
  .technologies {
    margin: 1em;
    .tech-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
      grid-gap: 2rem;
      margin-top: 1em;
    }
  }
}
