$body: #09000b;
$nunito: "Nunito", sans-serif;
$dark: #0a0a0a;
$breakpoint-mobile: 415px;

.profile-container {
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.profile {
  width: 900px;
  min-height: 300px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  position: relative;

  h1 {
    color: $dark;
    margin: 0 0 0.6em 0;
  }

  h4 {
    margin: 0.5em 0;
  }

  p {
    color: rgba($dark, 0.8);
    font-size: 20px;
    line-height: 24px;
  }

  .image {
    width: 75px;
    height: 75px;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    right: 30px;
    top: 30px;
    transform-origin: bottom left;
    box-shadow: 0 3px 15px rgba($dark, 0.1);
    transition: all 0.6s ease-in-out;

    background-image: url("../../../assets/profile-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:hover {
    .image {
      transform: scale(2.5);
      border-radius: 50px;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .profile {
    background-color: red;
  }
}
