$body: #09000b;
$nunito: "Nunito", sans-serif;
$dark: #0a0a0a;

$breakpoint-desktop: 480px;

.profile-container {
  height: 100%;
}

.profile {
  background-color: #ffffff;

  padding: 20px 70px 0 70px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;

  h4,
  h1 {
    font-family: "Source Sans Pro", sans-serif;
  }

  p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0.02em;
  }

  .profile-image {
    width: 175px;
    height: 175px;
    background: #ffffff;
    border-radius: 50%;
    margin: 0 auto;
    transform-origin: bottom left;
    box-shadow: 0 3px 15px rgba($dark, 0.1);
    transition: all 1s ease-in-out;

    background-image: url("../../assets/profile-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.profile-image-visible {
  transform: scale(2.5);
  border-radius: 50px;
}

$breakpoint-tablet-about: 850px;

@media (max-width: $breakpoint-tablet-about) {
  .profile {
    padding: 35px;
  }
}

@media screen and (min-width: 1440px){
  .profile {
    padding: 100px;
  }
}