.project-card {
  background-color: #f1eded;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0.5em 0.5em;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 13%), 0 1px 2px rgb(0 0 0 / 13%);
  justify-self: center;
  padding: 0.5em;

  &:hover {
    transform: translateY(-1%);
  }
}

.slider-wrapper {
  height: 227px;
}
.project-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 380px;

  h1 {
    margin: 0;
    margin-top: 1em;
  }

  > div:first-child {
    display: flex;
    flex-direction: column;
    font-family: "Source Sans Pro", sans-serif;

    > p {
      line-height: 1.4em;
    }
  }

  .project-technologies {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.2em;

    p {
      background-color: white;
      margin: 0.2em 0.2em;
      padding: 0.3em 0.6em;
      border-radius: 25px;
    }
  }
}

.project-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2em;

  form {
    margin-right: 1em;
  }

  .project-nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.2em;
  }

  .goToGitHub-btn {
    background-color: #1197cc;
    border: none;
    color: white;
    font-size: large;
    font-weight: bold;
  }

  .goToLive-btn {
    background-color: #0ecc3e;
    border: none;
    color: white;
    font-size: large;
    font-weight: bold;
  }
}

.goToGitHub {
  background-color: #1197cc;
  box-shadow: 4px 4px 0px #094c66;
  border-radius: 8px;
  padding: 0.5em;
  transition: transform 200ms, box-shadow 200ms;

  &:hover {
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px 0px #094c66;
  }
}
.goToLive {
  color: white;
  font-weight: bold;
  background-color: #0ecc3e;
  box-shadow: 4px 4px 0px #07661f;
  border-radius: 8px;
  padding: 0.5em;
  transition: transform 200ms, box-shadow 200ms;

  &:hover {
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px 0px #094c66;
  }
}

.goToLive__hidden {
  visibility: hidden;
  padding: 0.5em;
}

.slick-slider {
  position: relative;
  z-index: 1;
}

.slick-slider img {
  border-radius: 10px;
}

$breakpoint-mobile-projectCard: 520px;

@media (max-width: $breakpoint-mobile-projectCard) {
  .project-card {
    width: 380px;
  }
  .project-desc {
    min-height: 350px;

    .project-technologies {
      p {
        background-color: white;
        font-size: smaller;
      }
    }
  }

  .goToGitHub,
  .goToLive {
    padding: 0.2em;
  }
}
$breakpoint-mobile-projectCard: 470px;

@media (max-width: $breakpoint-mobile-projectCard) {
  .project-card {
    width: 95%;
  }

  .goToGitHub,
  .goToLive {
    padding: 0.1em;
  }
}
