.NavNew {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(245, 245, 245);
  display: flex;
  font-display: row;
  justify-content: space-between;
  padding: 1em;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 35px;
    }

    h2 {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 200;
      margin: 0 0 0 0.5em;
    }
  }

  .nav-links {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;

    p {
      margin: 0 1em;
      padding: 0.2em;

      &:active,
      &:focus {
        font-weight: bolder;
      }

      &:hover {
        // text-decoration: underline;
        color: #094c66;
        font-weight: bolder;
        margin-bottom: 0.2em;
        padding-bottom: 0.2em;
        border-bottom: 1px solid #000;
        cursor: pointer;
      }
    }
  }
}

$breakpoint-mobile-nav: 500px;

@media (max-width: $breakpoint-mobile-nav) {
  .NavNew {
    .nav-links {
      p {
        margin: 0 0.5em;

        font-size: 16px;
      }
    }
  }
}
