.wrapper2 {
}

.menu2 {
  /* top: 50%;
  left: 50%; */
  margin: 0;
  padding: 0;
  display: flex;
}

.menu2 li {
  list-style: none;
}



.menu2 li a {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  margin: 0 5px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 1px 5px rgb(0 0 0 / 13%), 0 1px 2px rgb(0 0 0 / 13%);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}

.menu2 li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.menu2 li a .fa,
.menu2 li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(40px - 11px);
  font-size: 15px;
  color: #262626;
  transition: 0.5s;
}

$breakpoint-mobile-nav: 700px;

@media (max-width: $breakpoint-mobile-nav) {
  .wrapper2 {
    display: flex;
    justify-content: center;
    margin-top: 1em;

    .menu2 li {
      margin: 0 0.5em;
    }
  }
}

@media(min-width: $breakpoint-mobile-nav) {
  .menu2 li {
    display: inline-block;
    list-style: none;
    animation: float 10s ease-in-out infinite;
    animation-delay: 1s;
  
    &:nth-child(2) {
      animation-delay: 1.2s;
    }
    &:nth-child(3) {
      animation-delay: 1.4s;
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    5% {
      transform: translateY(-10px);
    }
    10% {
      transform: translateY(0);
    }
    // 100% {
    //   transform: translateY(0);
    // }
  }
  
  
}
