.NavNew {
  position: sticky;
  background-color: rgb(245, 245, 245);
  display: flex;
  font-display: row;
  justify-content: space-between;
  padding: 1em;


  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 35px;
    }

    h2 {
      font-family: "Source Sans Pro", sans-serif;
      margin: 0 0 0 0.5em;
      font-weight: 200;
    }
  }

  .nav-links {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;

    p {
      margin: 0 1em;
    }
  }
}
// 