@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap");

.portfolio {
  font-family: Montserrat, sans-serif;

  .background {
    background-image: url("../../assets/background_img.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: scroll;
    width: 100vh;
    height: 100vh;
    //   position: absolute;
    //   overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
  }

  .name {
    width: 60%;

    h2 {
      font-weight: 400;
      margin: 0;
      padding: 1rem;
      width: 60%;
      font-size: 1.5rem;
    }
  }

  #hamburger {
    position: absolute;
    margin: 0;
    padding: 1rem;
    right: 0;
    top: 0;

    > span {
      display: block;
      width: 28px;
      height: 2px;
      border-radius: 9999px;
      background-color: black;

      &:not(:last-child) {
        margin-bottom: 7px;
      }

      transition: all 0.4s ease-in-out;
    }

    transition: all 0.4s ease-in-out;

    &.active {
      transition-delay: 0.1s;
      transform: rotate(45deg);

      > span {
        &:nth-child(1),
        &:nth-child(3) {
          transition-delay: 0.1s;
        }

        &:nth-child(1) {
          transform: translateY(9px);
        }

        &:nth-child(3) {
          transform: translateY(-9px) rotate(90deg);
        }
      }
    }
  }
  .about {
    margin: 0;
    padding: 0 1rem;

    h2 {
      margin: 0;
      margin-bottom: 1.66rem;
      font-weight: 400;
      font-size: 1.11rem;
    }

    p {
      font-weight: 400;
      font-size: 0.66rem;
    }
  }

  .socials {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 0.5rem;

    .fa-circle {
      color: black;
    }
  }

  .technologies {
    margin: 0;
    padding: 0 1rem;

    h2 {
      margin: 0;
      margin-bottom: 1.6rem;
      font-weight: 400;
      font-size: 1.11rem;
    }

    p {
      font-weight: 400;
      font-size: 0.66rem;
      margin-bottom: 1.6rem;
    }

    .tech-stack {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.6rem;

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0.5rem;
      }
    }
  }

  .projects {
    margin: 0;
    padding: 0 1rem;

    h2 {
      margin: 0;
      margin-bottom: 1.6rem;
      font-weight: 400;
      font-size: 1.11rem;
    }
  }
}
